<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - Menu</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/menu.css">

    <!-- slick -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <link rel="stylesheet" href="../stylesheets/showcase.css">
</head>

<body>
   <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class="carousel">
        <div><img src="..\images\matcha-slideshow.jpeg"></div>
        <div><img src="..\images\chocolate_chip-slideshow.jpeg"></div>
        <div><img src="..\images\ube-slideshow.jpeg"></div>
        <div><img src="..\images\strawberry-slideshow.jpeg"></div>
    </div>

    <div class="row secondary-back-color">
        <h2 class="left"><small class="regular">our humble selection:</small></h2>
    </div>

    <br>

    <!-- 4x4 grid for products display -->
    <div class="row">
        <% for (let i = 0; i < item.length; i++) { %>
            <div class="col-sm-3">
                <div class="card">
                    <img src=<%= item[i].address %> alt=<%= item[i].alt %>>
                    <div class="card-body">
                        <div class="section">
                            <p class="description regular"><%= item[i].item_name %></p>
                        </div>
                        <div class="section dark">
                            <p class="price regular">
                                <%= "$" + (Math.round(item[i].price * 100) / 100).toFixed(2).toString() %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <footer class = "sticky">
        <%- include('partials/footer.ejs') %>
    </footer>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- slick -->
    <%- include('partials/slick.ejs') %>

    <!-- feather icons -->
    <%- include('partials/feather.ejs') %>
</body>

</html>