<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - Profile</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class = "container">
        <div class = "row">
            <div class = "col-sm-3">
            </div>
            <div class = "col-sm-6">
                <div class = "row">
                    <div class = "col-sm-6">
                        <img style="max-width: 330px" width="330" src = <%=user.picture%>>
                    </div>
                    <div class = "col-sm-6">
                        <div class = "collapse">
                            <input type="checkbox" id="collapse-section1" checked aria-hidden="true">
                            <label for="collapse-section1" aria-hidden="true" class = "regular">Name:</label>
                            <div>
                                <p class = "regular"><%=user.name%></p>
                            </div>    
                        </div>
                        <div class = "collapse">
                            <input type="checkbox" id="collapse-section2" checked aria-hidden="true">
                            <label for="collapse-section2" aria-hidden="true" class = "regular">Email:</label>
                            <div>
                                <p class = "regular"><%=user.email%></p>
                            </div>    
                        </div>
                        <a href="/logout"><button class = "btn regular">Logout</button></a>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
            </div>
        </div>
    </div>

    <footer class = "sticky">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>